<%# display public job show page %>
<%= render 'shared/public_show' %> 
<% if @job.status_closed? %>
  <h3>Reviews:</h3>
  <%# alternative way to render a partial from the shared folder and pass the reviews %>
  <%# <%= render 'shared/review', reviews: @job.reviews %>
  <%# render job reviews %>
  <% if @job.reviews.empty? %>
    <p>No reviews have been left for this job yet.</p>
  <% else %>
    <%= render @job.reviews %><br>
  <% end %>
  <%# if user has left 0 reviews for this job %>
  <% if @user_reviews == 0 %>
    <%= link_to 'Add Review', new_job_review_path(@job), class: "btn btn-outline-primary btn-md my-2" %>
  <% end %>
<% end %>
<%# check if user is signed in %>
<% if user_signed_in? %>
  <%# check if current user is the job homeowner or tradie %>
  <% if current_user.id == @job.homeowner_id || current_user.id == @job.tradie_id %>
    <%# if job status is cancelled %>
    <% if @job.status_cancelled? %>
      <p><strong>This job was cancelled</strong>
    <% else %>
      <%# display job progress partial %>
      <%= render "shared/job_progress" %><br>
    <% end %>
    <%# display job accordion %>
    <%= render "shared/job_accordion" %>
    <%# if the job status is closed %>
  <% end %>
  <%# check if current user is the job homeowner and if the job is open %>
  <% if current_user.id == @job.homeowner_id && @job.status_open? %>
    <%= link_to 'Edit Job', edit_job_path(@job), class: "btn btn-outline-primary btn-md" %>
    <%= link_to 'Back', :back, class: "btn btn-outline-dark btn-md" %><br>
  <%# check if current user is the job tradie and if the job is open %>
  <% elsif current_user.tradie && @job.status_open? %>
    <%= link_to 'Submit Quote', edit_job_path(@job), class: "btn btn-outline-primary btn-md" %>
    <%= link_to 'Back', :back, class: "btn btn-outline-dark btn-md" %><br>
  <% else %>
    <%= link_to 'Back', :back, class: "btn btn-outline-dark btn-md" %><br>
  <% end %>
<% else %>
  <%= link_to 'Back', :back, class: "btn btn-outline-dark btn-md" %><br>
<% end %>


