<p id="notice"><%= notice %></p>

<h1><%= @job.title %></h1>

<% if @job.status_closed? || current_user.id == @job.homeowner_id %>
  <h4>Completed by: <%= link_to "@#{@job.tradie.username}", profile_page_path(@job.tradie.id), style: "text-decoration: none;" %></h4>
<% else %>
  <h4><strong>Job owner: </strong><%= link_to "@#{@job.homeowner.username}", profile_page_path(@job.homeowner.id), style: "text-decoration: none;" %></h4>
<% end %>

<h4><strong><%= @job.suburb %>, <%= @job.state %></strong></h4>
<%# displays each image associated with this job %>
<% if @job.documents.attached? %>
  <% @job.documents.each do |document| %>
    <%= image_tag document, style: "width: 400px; height: 400px;" %>
  <% end %>
<% end %>
<p><strong>Description:</strong><%= @job.description %></p>

<% if current_user.id == @job.homeowner_id || current_user.id == @job.tradie_id %>
  <p><strong>Street address:</strong><%= @job.street_address %></p>
  <p><strong>Postcode:</strong><%= @job.postcode %></p>
  <p><strong>Price:</strong><%= @job.price %></p>
  <p><strong>Status:</strong><%= @job.status %></p>
  <p><strong>Successful:</strong><%= @job.successful %></p>
  <p><strong>Paid on time:</strong><%= @job.paid_on_time %></p>
  <p><strong>Payment terms:</strong><%= @job.payment_terms %> days</p>
  <p><strong>Tradie:</strong><%= @job.tradie_id %></p>
  <p><strong>Homeowner:</strong><%= @job.homeowner_id %></p>

  <%= render "shared/job_progress" %>
  <br>
  <% if current_user.id == @job.homeowner_id && @job.status_open? %>
    <%= link_to 'Edit Job', edit_job_path(@job), class: "btn btn-dark btn-md" %>
    <%= link_to 'Back', :back, class: "btn btn-outline-dark btn-md" %>
  <% else %>
    <%= link_to 'Back', :back, class: "btn btn-outline-dark btn-md" %>
  <% end %>
  <br>
<% end %>

<% if @job.status_open? && current_user.tradie %>
    <%= link_to 'Submit Quote', edit_job_path(@job), class: "btn btn-outline-success btn-md" %>
    <%= link_to 'Back', :back, class: "btn btn-outline-dark btn-md" %>
<% end %>


