<p id="notice"><%= notice %></p>

<%= image_tag @job.picture if @job.picture.attached? %>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @job.street_address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @job.suburb %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @job.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @job.state %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p>
  <strong>Successful:</strong>
  <%= @job.successful %>
</p>

<p>
  <strong>Paid on time:</strong>
  <%= @job.paid_on_time %>
</p>

<p>
  <strong>Payment terms:</strong>
  <%= @job.payment_terms %>
</p>

<p>
  <strong>Tradie:</strong>
  <%= @job.tradie_id %>
</p>

<p>
  <strong>Homeowner:</strong>
  <%= @job.homeowner_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job), class: "btn btn-dark btn-md" %>
<%= link_to 'Back', jobs_path, class: "btn btn-dark btn-md" %>
