<h1><%= @job.title %></h1>
<hr>
<h4>
    <%# if homeonwer has profile pic %>
    <% if @job.homeowner.profile_pic.attached? %>
        <%= image_tag @job.homeowner.profile_pic, class: "rounded-circle", style: "width: 48px; height: 48px;" %>
    <% else %>
        <img src="https://www.pngitem.com/pimgs/m/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="mdo" width="48" height="48" class="rounded-circle">
    <% end %> 
    <%= link_to "@#{@job.homeowner.username}", profile_page_path(@job.homeowner.id), style: "text-decoration: none;" %> - Job Owner
</h4>
<%# if job has a tradie %>
<% if @job.tradie_id? %>
    <h4>
        <%# if tradie has profile pic %>
        <% if @job.tradie.profile_pic.attached? %>
            <%= image_tag @job.tradie.profile_pic, class: "rounded-circle", style: "width: 48px; height: 48px;" %>
        <% else %>
            <img src="https://www.pngitem.com/pimgs/m/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="mdo" width="48" height="48" class="rounded-circle">
        <% end %> 
        <%= link_to "@#{@job.tradie.username}", profile_page_path(@job.tradie.id), style: "text-decoration: none;" %> - Tradesman
    </h4>
<% end %>
<hr>
<h4><strong><%= @job.suburb %>, <%= @job.state %></strong></h4>
<h5>
<span class="badge bg-warning rounded-pill"><%= @job.status %></span>
<span class="badge bg-success rounded-pill"><%= "Successfully Completed" if @job.successful? %></span>
<span class="badge bg-success rounded-pill"><%= "Paid on Time" if @job.paid_on_time %></span>
</h5>
<%# carousel %>
<%# if job was successful %>
<% if @job.successful %>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner">
        <%# if job has completion photos %>
        <% if @job.completion_photos.attached? %>
            <% @job.completion_photos.each_with_index do |photo, index| %>
                <div id="carousel_item_<%= index %>" class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <%= image_tag photo, class: 'd-block w-100', width: "100%", height: "450" %><br>
                </div>
            <% end %>
        <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<% else %>
    <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-inner">
        <% @job.photos.each_with_index do |photo, index| %>
            <div id="carousel_item_<%= index %>" class="carousel-item <%= index == 0 ? 'active' : '' %>">
            <%= image_tag photo, class: 'd-block w-100', width: "100%", height: "450" %><br>
            </div>
        <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
<% end %>
<hr><p><strong>Description: </strong><%= @job.description %></p><hr> 