<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary"><%= job.suburb.capitalize %></strong>
    <h4 class="mb-0"><%= job.title %></h4>
    <p class="card-text mb-auto overflow-hidden"><%= job.description %></p>
    <div class="mb-1">
      <% if job.status_open? %>
        <span class="badge bg-warning rounded-pill"><%= job.status %></span>
        <span class="badge bg-primary rounded-pill">Taking quotes!</span>
      <% elsif job.status_sent? || job.status_closed? %>
        <span class="badge bg-success rounded-pill"><%= "Successfully Completed" if job.successful? %></span>
        <span class="badge bg-success rounded-pill"><%= "Paid on Time" if job.paid_on_time %></span>
      <% end %>
    </div>
    <div class="mb-1 py-1">
      <%= link_to "View Job", job_path(job.id), class:"btn btn-outline-primary" %>
    </div>
  </div>
  <div class="col-auto d-none d-lg-block">
    <% if job.photos.attached? %>
      <%= image_tag job.photos.first, class: "bd-placeholder-img", width: "350", height: "250" %>
    <% end %>
  </div>
</div>
