<%# <div class="row"> %>
<% @jobs.each do |job| %>
  <% if job.status_open? || job.status_closed? %>
    <%# <div class="col-md-4"> %>
    <div class="card mb-3">
      <div class="card-header">
        <%= job.title %>
      </div>
      <div class="row">
      <% if job.documents.attached? %>
        <% job.documents.each do |document| %>
          <div class="col-md-4">
          <%# <%= image_tag job.documents.first, class: "card-img-top", style: "width: 100%;"%>
          <%= image_tag document, class: "card-img-top", style: "width: 400px; height: 400px;"%>
          </div>
        <% end %>
      <% end %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= job.suburb.capitalize %></h5>
        <p class="card-text"><%= job.description %></p>
        <% if job.status_open? %>
          <p class="card-text"><small class="text-muted"><%= job.status %> | Taking quotes! </small></p>
        <% elsif job.status_closed? %>
          <p class="card-text"><small class="text-muted"><%= job.status %> | <%= "Paid on Time" if job.paid_on_time %></small></p>
        <% end %>
        <%# <a href="#" class="btn btn-primary">View Job</a> %>
        <%= link_to "View Job", job_path(job.id), class:"btn btn-outline-success" %>
      </div>
    </div>
    <%# </div> %>
  <% end %>
<% end %>
<%# </div> %>