<div class="d-flex justify-content-center">
  <div class="container">
  <br>
    <%# profile header %>
    <div class="row  align-items-center">
      <div class="col-md-auto">
        <% if @user.profile_pic.attached? %>
          <%= image_tag @user.profile_pic, class: "rounded-circle", style: "width: 160px; height: 160px;" %>
        <% else %>
          <img src="https://www.pngitem.com/pimgs/m/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="mdo" width="160" height="160" class="rounded-circle">
        <% end %>
      </div>
      <div class="col">
        <h1><%= @user.username %></h1>
        <em style="font-size: 24px; padding-bottom: 28px;">@<%= @user.username %></em>
        <p><em style="padding-top: 8px;"><%= @user.tradie? ? "Tradesman" : "Homeowner" %></em></p>
      </div>
    </div>
    <hr style="border:3px solid #adb5bd">

    <%# payproof and user rating %>
    <div class="row">
      <div class="col">
        <% if @ratings.empty? %>
          <span class="heading">PayProof Score</span>
          <p>No completed jobs yet</p>
        <% else %>
          <span class="heading">Payproof Score</span><span class="heading checked"><%= @payproof_score.floor %>%</span>
          <% if current_user.tradie? %>
            <p><%= @successful_jobs %>/<%= @closed_jobs %> jobs completed successfully.</p>
          <% else %>
            <p><%= @paid_jobs %>/<%= @closed_jobs %> completed jobs paid on time.</p>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <%= render 'user_rating' %>
      </div>
    </div>
    <hr style="border:3px solid #adb5bd">

    <%# user bio %>
    <% if @user.bio %>
      <p><strong><%= @user.bio %></strong></p>
    <% end %>

    <%# reviews %>
    <h3>Reviews</h3>
    <% @user_reviews.each do |review| %>
        <blockquote>
          <%= render 'reviews/review', review: review %>
        </blockquote>
    <% end %>

    <%# user's jobs %>
    <% if @user.tradie? %>
      <h3>Compeletd Jobs</h3>
    <% else %>
      <h3>Open Jobs</h3>
    <% end %>
    <% @jobs.each do |job| %>
      <%# checks if the jobs have a status of open or successful %>
      <% if job.status_open? || job.successful %>
          <%# displays job card partial %>
          <%= render "shared/public_card", job: job %>
      <% end %>
    <% end %>

    <%# nav buttons %>
    <% if current_user.id == @user.id %>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-outline-primary btn-md" %>
    <% end %>
    <%= link_to "Back", :back, class: "btn btn-outline-dark btn-md" %>
  </div>
</div>
